.card {
    display:block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
	margin-right: auto;
	width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin-top: 125px;
    max-width: 300px;
    
    box-shadow: 10px 10px  #111;
    background-color: #ffffff;
     
}

.Blog-card {
    width: 100%;
    border-radius: 10px;
}

html {
    background-color: #f4d04e ;
    margin: 40px;
    padding: 24px;
}
.title {
    color: #1f314f;
    font-size: 22px;
    font-family: "outfit bold";
    line-height: 120%;
    letter-spacing: 0%;
}

.text {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-family: figtree;
    font-weight: 800;
}

row {
    display: flex;
    flex-direction: row;
}
.avatar {
    height: 30px;
    padding-top: 3%;
    padding-right: 5%;
}

.section {
    background-color: #f4d04e;
    font-family: figtree;
    font-size: 14px;
    font-weight:800;
    padding: 1%;
    width: 22%;
    border-radius: 15%;
    text-align: center;
    
}
.text:hover,.text:active,.text:focus {
    color: #f4d04e;
}
.attribution {
    padding-top: 5%;
}